<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <!-- <form action="/temp" method="POST"> -->
        <!-- <form action="/temp" method="POST"> -->
        <form action="/temp" method="POST">
            <p>How is the weather today</p>
            <select name="weather" id="">
                <option value="Sunny"> Sunny </option>
                <option value="Rainy"> Rainy</option>
                <option value="Overcast"> Overcast</option>
            </select>
            <p>How the temperature feels</p>
            <select name="temperature" id="">
                <option value="Hot">Hot</option>
                <option value="Mild"> Mild</option>
                <option value="Cool"> Cool</option>
            </select>
            <p>What is the Humidity</p>
            <select name="Humidity" id="">
                <option value="High"> High </option>
                <option value="Normal"> Normal</option>
            </select>
            <p>Is it windy</p>
            <select name="Windy" id="">
                <option value="Yes"> Yes</option>
                <option value="No"> No</option>
            </select>
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>